#titulo{
  color:red;
text-align: center;
font-family: fantasy;
font-size: 35px;


}
.titulo2{
  text-decoration: underline;
  color:green;
  font-size: 35px;
  font-family: fantasy;

}
.ho{
  font-family: sans-serif;
}

.dias{font-family:;
  text-decoration: underline;



}

.img{
  width: 250px;

}
.img2{
width: 250

}
body {background-color:#e5d016;}

